body {
    color:white;
    background-color: black;
    margin: 0;
}

@font-face {
    font-family: "nordicFont";
    src: url("/nordicalt.ttf");
}

.titreHeader{
    font-size: 35px;
    font-weight: bold;
    font-family: nordicFont,sans-serif;
    color: white;
    text-align: center;
    margin-left:44vw;
    margin-right:50vw;
    margin-top:-50px;
}
.header{
    padding-top:0;
    width: 100%;
}

.titreEnigme{text-align: center;}

.enigmeDiv{
    margin: 10vh 25vw;
/*background-color: #50515a;*/
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 2px #232428;
    color: black ;
}


body{
    background-color: #303134;

//background-image:url("/public/images/assistante.svg");
//background-position:bottom right;
//background-repeat:no-repeat;
}


.navbar{
    background-color: #1f1f1f;
}



.figure{
    position:absolute;
    bottom:0;
    right:0;
    width:20%;
    height: 300px;
}

.figure img.imageAssistanteIdee {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    object-fit: contain;
    opacity: 0;
    transition:opacity .3s;
}

.figure:hover img.imageAssistante{
    opacity: 0;
}
.figure:hover img.imageAssistanteIdee{
    opacity: 1;
    cursor:pointer;
    /*//height:110%;*/
}

.button {
    position: relative;
    left: 50%;
}


