<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Enigme Qualité de Développement</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Enigme Dev Web</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="script" href="/script.js">
</head>
<body>
<header class="header">
  <nav class="navbar">

    <a class="navbar-brand" href="#">
      <img class="imageLogo " src="/images/LogoSansNom.svg" alt="Logo" height=50px>
    </a>
    <p class="titreHeader" >ENIGMATICA </p>


  </nav>
</header>

<form class="enigmeDiv" action="#" th:action="@{/result}" th:object="${greeting}" method="post">
  <h1 class="titreEnigme">Enigme cool</h1>
  <p></p>
  <p>Réponse: <input type="text" th:field="*{content}" /></p>
  <p><input type="submit" value="Submit" /></p>
</form>
<div class="figure">
  <img class="imageAssistante" src="images/assistante2.svg" alt="assistante" height="300px">
  <img id="assistanteIdee" class="imageAssistanteIdee" src="images/assistanteIdee.svg" alt="assistante" height="300px">
</div>
</body>
</html>