<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Enigme Qualité de Développement</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Enigme Qualité de code</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="script" href="/script.js">
</head>
<body>
<header class="header">
  <nav class="navbar">

    <a class="navbar-brand" href="#">
      <img class="imageLogo " src="/images/LogoSansNom.svg" alt="Logo" height=50px>
    </a>
    <p class="titreHeader" >ENIGMATICA</p>


  </nav>
</header>

<form class="enigmeDiv" action="#" th:action="@{/result}" th:object="${greeting}" method="post" onsubmit="return validation()">
  <h1 class="titreEnigme">Enigme cool</h1>
  <p></p>
  <p>Réponse: <input type="text" th:field="*{content}" /></p>
  <p id="errorMessage"></p>
  <button type="submit">Envoyer</button>
</form>
<div class="figure">
  <img class="imageAssistante" src="images/assistante2.svg" alt="assistante" height="300px">
  <img id="assistanteIdee" class="imageAssistanteIdee" src="images/assistanteIdee.svg" alt="assistante" height="300px">
</div>
</body>
<script>
  function indiceF12(){
    alert('inserer indice');
  }
  document.getElementById('assistanteIdee').addEventListener('click', function(){
    indiceF12();
  });

  function validation(){

    var reponse = document.getElementById('content').value;
    var errorMessage = document.getElementById('errorMessage');

    if(reponse === 'test'){
      return true;
    }
    else{
      errorMessage.innerText = "Réponse incorrecte, réessayez !";
      return false;
    }
  }
</script>

</html>