<!DOCTYPE HTML>
<html>
<head>
    <title>Enigme Dev Web</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="script" href="/script.js">

</head>
<body>
<header class="header">
    <nav class="navbar">

        <a class="navbar-brand" href="#">
            <img class="imageLogo " src="/images/LogoSansNom.svg" alt="Logo" height=50px>
        </a>
        <p class="titreHeader" >ENIGMATICA </p>


    </nav>
</header>
<div class="enigmeDiv" >
    <h1> Explication</h1>
    <p> Mais, la qualité de code, qu'est-ce que c'est?</p>

    <p>La qualité de code est un ensemble de critères qui permettent de juger de la qualité d'un code source. </p>

    <p>Il existe différentes méthodes permettant de rendre un code "propre" </p>

    <p>Pour simplifier, il faut respecter les principes suivants : </p>

    <p>1. Ne pas écrire de "franglais", les thermes doivent tous être en anglais</p>

    <p>2. Ne pas utiliser de magic numbers. <br>
        Un "magic number" est une valeur numérique qui apparaît dans le code source sans explication ou justification claire de sa signification.
    </p>

    <p>3. Les nommages doivent respecter une certaine convention.
    <br>
            Il faut entre autre que le nom d'une classe doit décrire sa fonction, et que les noms des variables doivent être explicites.
    </p>


    <button class="button" onclick="window.location.href='/'">Compris!</button>
</div>


<div class="figure">
    <img class="imageAssistante" src="images/assistante2.svg" alt="assistante" height="300px">
    <img id="assistanteIdee" class="imageAssistanteIdee" src="images/assistanteIdee.svg" alt="assistante" height="300px">
</div>
</body>
</html>